---
name: Playwright UI Testing CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          npm install

      - name: Install Playwright dependencies
        run: |
          npx playwright install-deps

      - name: Install Playwright drivers
        run: |
          npx playwright install chromium
          npx playwright install firefox
          npx playwright install webkit

      - name: Run code formatting
        run: |
          npx prettier --check tests

      - name: Run tests
        run: |
          npm run test

      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
          retention-days: 7
